
.contact_form {
    height: 70vh;
    .contact_form_input_element {
        margin-bottom: 5rem !important;
        padding-bottom: .8rem !important;
        font-size: 1.5rem;
        
        input{
            color: white !important;
        }
    }

    .contact_form_text_area_element{
        padding-bottom: 3rem;
        label{
            display: flex !important;
            font-size: 1.5rem !important;
            margin-bottom: 1.5rem !important;
        }
        textarea{
            background-color: #1b1c1d !important;
            color: white !important;
            border: .5px solid white !important;
            height: 10rem !important;
        }
    }

    .container_btn_submit{

        display: flex;
        justify-content: end;
        align-items: flex-end;
        width: 100%;
        height: 20vh;
        .btn_submit{
                background-color: #1b1c1d;
                border: 1px solid white;
                height: 12rem;
                width: 12rem;
                border-radius: 6rem;
                color: white;
                font-size: 2rem;
            }
    }
    
}

@media (max-width: 770px) {
    .contact_form{
        overflow: auto;
        padding-right: 2rem;
        padding-left: 1rem;
    }
}
